body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  background-color: #6e79ee;
  color: white;
}

.devicon-git-plain {
  max-width: 4em;
  margin: 0 16px;
}

#projects {
  background-color: #eeec6e;
}

.brand-logo img {
  padding: 12px 10px;
  width: 58px;
}

img.profile-pic {
  float: left;
  max-width: 14em;
  max-height: 14em;
  border-radius: 10em;
  padding: 10px;
  margin: 10px;
}

.profile-headers {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
}

.card.horizontal .card-image {
  min-width: 230px;
}

.card.horizontal .card-image img {
  height: 230px;
}

button.btn {
  float: right;
  margin: 0 10px;
}
