body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: #00227b;
}

header {
  background-color: #3949ab;
  color: white;
}

.container {
  padding-top: 4em;
  padding-bottom: 4em;
}

h2 {
  margin-bottom: 1em;
}

#summary {
  background-color: #E1E2E1;
}

#tech-skills {
  background-color: #F5F5F6;
}

#projects {
  background-color: #E1E2E1;
}

#education {
  background-color: #F5F5F6;
}

#contact {
  background-color: #E1E2E1;
}

footer.page-footer {
  background-color: #00227b;
}

div.footer-copyright {
  margin: 0 1em;
}

p {
  font-size: 1.2em;
}

.devicon-git-plain {
  max-width: 4em;
  margin: 0 16px;
}

.brand-logo img {
  padding: 12px 10px;
  width: 58px;
}

img.profile-pic {
  float: left;
  max-width: 14em;
  max-height: 14em;
  border-radius: 10em;
  padding: 10px;
  margin: 10px;
}

.profile-headers {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
}

.card.horizontal .card-image {
  min-width: 240px;
}

.card.horizontal .card-image img {
  height: 240px;
}

button.btn {
  float: right;
  margin: 0 10px;
  background-color: #00bfa5;
  color: #000;
}

a, i {
  color: #00bfa5;
}

.input-field > i, button > i {
  color: #000;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #00bfa5;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #00bfa5;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #00bfa5;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #00bfa5;
}
