body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  content:url(http://assets1.bigthink.com/system/idea_thumbnails/60118/size_1024/computer_code.jpg?1448159143);
  max-height: 300px;
}
